
bin
obj
IDP/IS/bin/Debug/net8.0/IS.dll
IDP/IS/bin/Debug/net8.0/IS.exe
IDP/IS/bin/Debug/net8.0/IS.pdb
IDP/IS/bin/Debug/net8.0/IS.staticwebassets.runtime.json
IDP/IS/obj/IS.csproj.nuget.dgspec.json
IDP/IS/obj/IS.csproj.nuget.g.props
IDP/IS/obj/project.assets.json
IDP/IS/obj/project.nuget.cache
IDP/IS/obj/Debug/net8.0/apphost.exe
IDP/IS/obj/Debug/net8.0/IS.AssemblyInfo.cs
IDP/IS/obj/Debug/net8.0/IS.AssemblyInfoInputs.cache
IDP/IS/obj/Debug/net8.0/IS.assets.cache
IDP/IS/obj/Debug/net8.0/IS.csproj.AssemblyReference.cache
IDP/IS/obj/Debug/net8.0/IS.csproj.CoreCompileInputs.cache
IDP/IS/obj/Debug/net8.0/IS.csproj.FileListAbsolute.txt
IDP/IS/obj/Debug/net8.0/IS.dll
IDP/IS/obj/Debug/net8.0/IS.GeneratedMSBuildEditorConfig.editorconfig
IDP/IS/obj/Debug/net8.0/IS.genruntimeconfig.cache
IDP/IS/obj/Debug/net8.0/IS.pdb
IDP/IS/obj/Debug/net8.0/staticwebassets.build.json
IDP/IS/obj/Debug/net8.0/staticwebassets.development.json
IDP/IS/obj/Debug/net8.0/staticwebassets.pack.json
IDP/IS/obj/Debug/net8.0/ref/IS.dll
IDP/IS/obj/Debug/net8.0/refint/IS.dll
IDP/IS/obj/Debug/net8.0/staticwebassets/msbuild.build.IS.props
IDP/IS/obj/Debug/net8.0/staticwebassets/msbuild.IS.Microsoft.AspNetCore.StaticWebAssets.props
